{embed '../../UI/heading.latte'}
	{block title}Edit or add roles{/block}
{/embed}

{embed '../../UI/form.latte', name: 'factory'}
	{include form-errors}
	{block inputs}
		{include input-text, 'name', 6}
		{include input-select, 'parent', 6}
		{include input-submit, 'send', 12}
	{/block}
{/embed}
