{embed '../../UI/heading.latte'}
	{block title}Edit or add permissions{/block}
{/embed}

{embed '../../UI/form.latte', name: 'factory'}
	{include form-errors}
	{block inputs}
		{include input-select, 'role_id', 6}
		{include input-select, 'resource_id', 6}
		{include input-select, 'privilege_id', 6}
		{include input-select, 'allowed', 6}
		{include input-submit, 'send', 12}
	{/block}
{/embed}
