{embed '../../UI/@heading.latte'}
	{block title}Edit or add permissions{/block}
{/embed}

{embed '../../UI/@form.latte', name: 'factory'}
	{block inputs}
		{include input-select, name: 'role_id', columns: 6}
		{include input-select, name: 'resource_id', columns: 6}
		{include input-select, name: 'privilege_id', columns: 6}
		{include input-select, name: 'allowed', columns: 6}
		{include input-submit, name: 'send', columns: 12}
	{/block}
{/embed}
