{embed '../../UI/@heading.latte'}
	{block title}Edit or add roles to users{/block}
{/embed}

{embed '../../UI/@form.latte', name: 'factory'}
	{block inputs}
		{include input-select, name: 'user_id', columns: 12}
		{include input-select, name: 'role_id', columns: 12}
		{include input-submit, name: 'send', columns: 12}
	{/block}
{/embed}
