{embed '../../UI/heading.latte'}
	{block title}Edit or add roles to users{/block}
{/embed}

{embed '../../UI/form.latte', name: 'factory'}
	{include form-errors}
	{block inputs}
		{include input-select, 'user_id', 12}
		{include input-select, 'role_id', 12}
		{include input-submit, 'send', 12}
	{/block}
{/embed}
